* {
	box-sizing: border-box;
}

.about{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* margin-left: 2rem; */
  margin-right: 1rem;
  margin-bottom: 1rem;
  justify-items: center;
 
}

@media(max-width:750px){
  .about{
    display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  justify-items: center;
  }
}



.site-layout-content{
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 2rem;
 }



.site-layout-content {
  min-height: 30px;
  padding: 15px;
  background: #f6f5f7;
}
.components-layout-demo-top .logo {
  float: left;
  width: 1200px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-avatar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(95, 50, 50, 0.85);
  font-size: 64px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: transparent;
  width: 64px;
  height: 64px;
  line-height: 32px;
  border-radius: 50%;
}

#im1 {
  background-image: "src\Assets\wound.jpg";
}

Footer {
  background-color: rgb(147 230 241) ! important;
  color: #967af7;
  padding: 40px;
  height: 8rem;
}



.container {
  background-color: #fff;
  box-sizing: border-box;
  width:  370px;
  height: 420px;
  transition: all 0.6s ease-in-out;
 
  position: relative;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.20), 
			0 10px 10px rgba(0,0,0,0.22);
      font-family: 'ui-monospace';
      font-size: larger;
  text-align: center;
}

ch1 {
  color: #ef8ba2;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  font-family: 'fantasy';
}


.container2 {
  background-color: #fff;
  box-sizing: border-box;
  width:  400px;
  height: 480px;
  transition: all 0.6s ease-in-out;
 
  position: relative;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.20), 
			0 10px 10px rgba(0,0,0,0.22);
      font-size: larger;
  font-family: 'ui-monospace';
  text-align: center;
      
}

ch2 {
  color: #967af7;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  font-family: 'fantasy';
  margin-bottom: 1rem;
}


.container3 {
  background-color: #fff;
  box-sizing: border-box;
  width:  370px;
  height: 420px;
  transition: all 0.6s ease-in-out;
 
  position: relative;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.20), 
			0 10px 10px rgba(0,0,0,0.22);

      font-family: 'ui-monospace';
      font-size: larger;
  text-align: center;
}

ch3 {
  justify-content: center;
  align-items: center;
  color: #98d8fb;
  font-weight: bold;
  font-size: larger;
  font-family: 'fantasy';
  
}
